name: Deploy

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      - name: Pull & Deploy
        run: |
          cd ~/project/autoDeploy/test
          git pull
          docker-compose down
          docker-compose up -d --build